body {
    background: url(../images/asset-businesscard.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.container {
    width: 100% !important;
    height: 100vh;
    overflow: hidden;
    padding: 0 20px;
}

.portfolio_links {
    margin: 8vh 0 10vh;
}

.portfolio_links p {
    display: flex;
    justify-content: flex-start;
}

.portfolio_links a {
    margin: 0 3vw 0 0;
    color: transparent;
}

.portfolio_hero {
    margin: 20vh 0 18vh;
}

.portfolio_hero p {
    font-size: 3.2vh;
    line-height: 1em;
}

.portfolio_hero p:first-child {
    color: #1E9D9D;
    margin-bottom: 10px;
    font-size: 3.4vh;
}

.portfolio_hero h1 {
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 9vh;
    line-height: 8vh;
}

.portfolio_hero h4 {
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: 900;
    margin-bottom: 15px;
}

.portfolio_footer_wrap p:first-child {
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
}

.portfolio_footer p {
    color: #fff;
    font-size: 1.1em!important;
    margin-bottom: 10px;
}

.portfolio_email a,
.portfolio_contact a {
    color: #fff;
}

.portfolio_image img {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 75vh;
}

/* Media Queries */
@media screen and (min-width: 1300px) {
    .portfolio_hero {
        margin: 10vh 0 15vh;
    }
}

@media screen and (max-width: 600px) {
    .portfolio_image img {
        width: ;
        height: 60vh;
        right: -20%;
    }
    .portfolio_links {
        margin: 2vh 0;
    }
    .portfolio_hero {
        margin: 10vh 0;
    }
    .portfolio_hero p:first-child {
        color: #fff;
        font-size: 3vh;
    }
    .portfolio_hero h1 {
        font-size: 7vh;
        margin-bottom: 10px;
    }
    .portfolio_footer_wrap p {
        color: #000 !important;
    }

    .portfolio_footer_wrap a {
        color: #000 !important;
    }

    .portfolio_hero h4 {
        font-size: 1.2em;
    }

    .portfolio_hero p {
        font-size: 1.1em;
    }

    .portfolio_footer_wrap p:first-child {
        margin-bottom: 5px;
    }
    .portfolio_image img {
        z-index: -1;
    }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
    .portfolio_image img {
        height: 60vh;
        right: -4%;
        bottom: 0%;
    }
    .portfolio_links {
        margin: 10vh 0 12vh;
    }
    .portfolio_hero {
        margin: 20vh 0;
    }
    .portfolio_hero p {
        font-size: 2.5vh;
    }
    .portfolio_hero p:first-child {
        font-size: 3vh;
    }
    .portfolio_hero h1 {
        font-size: 8vh;
    }
    .portfolio_hero h4 {
        font-size: 3vh;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1399px) {
    .portfolio_links {
        margin: 8vh 0 10vh;
    }
    .portfolio_hero {
        margin: 18vh 0 16vh;
    }
    .portfolio_image img {
        height: 85vh;
        right: 5%;
    }
}

@media screen and (min-width: 1400px) {
    .portfolio_links {
        margin: 10vh 0 12vh;
    }
    .portfolio_hero {
        margin: 20vh 0;
    }
    .portfolio_image img {
        right: -3%;
        height: 90vh;
    }
}

@media screen and (min-width: 1600px) {
    .portfolio_image img {
        right: 5%;
    }
    .portfolio_footer a {
        font-size: 2.5vh;
    }
    .portfolio_footer_wrap p:first-child {
        font-size: 2.5vh;
    }
    .portfolio_footer p {
        font-size: 2.5vh!important;
    }
}

@media screen and (min-height: 1000px) {
    .portfolio_links {
        margin: 10vh 0 20vh;
    }
    .portfolio_hero {
        margin: 22vh 0 20vh;
    }
    .portfolio_links svg {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-height: 1300px) {
    .portfolio_links {
        margin: 10vh 0 20vh;
    }
    .portfolio_hero {
        margin: 20vh 0 30vh;
    }
}

